<style>
    #PageFooter {
        font-size: 9pt;
        color: gray;
        line-height: 12pt;
        text-align: center;
        background-color: lightblue;
        width:950px;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div id="PageFooter">
    <p>
    ©小河小舖&nbsp;&nbsp;service@pschool.com.tw<br />
    TEL:(03)-54875487&nbsp;&nbsp;FAX:(03)-54875487
    </p>
</div>
