
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>後台管理專區</title>
</head>
<body>
    <h1>後台管理專區</h1>
    <p>&nbsp;</p>
    <p><a href="@Url.Action("AddNewProduct","Product")">新增產品</a></p>
    <p><a href="@Url.Action("MaintainProduct","Product")">修改產品</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a href="@Url.Action("Index","Home",new { area="" })">返回首頁</a></p>
    <p>&nbsp;</p>
</body>
</html>
